<div fxFill fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center center" class="warn">
    <app-menu></app-menu>
    <h2>Bank Information</h2>
  </div>
  <div fxFlex="none" style="padding:20px;" [ngClass]="{invisible:frozen}"><button md-raised-button (click)="frozen=true; takePic(video)">Scan Bank Card</button></div>
  <div fxFlex class="scanArea">
    <video #video autoplay></video>
    <img src="./assets/img/credit-card-scanner.png" (click)="frozen = true; takePic(video)" />
  </div>
  <div fxFlex></div>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="space-between center" style="padding: 20px;">
    <img src="./assets/img/qr-code.png" style="max-width:125px;" />
    <div fxLayout="column" fxFlexOffset="10%">
      <h4 style="color:red; text-align: center; margin-bottom:0;">Some text</h4>
      <p>Just some more text underneith to see what's going on</p>
    </div>
  </div>
</div>
