<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutAlign="center center" class="header">
		<app-menu></app-menu>
		<h2>Setup Account Security</h2>
	</div>
	<div fxFlex='30' fxLayout="row" fxLayoutAlign="space-between center">
		<md-slide-toggle></md-slide-toggle><img src="./assets/img/security-finger-scan-icon.png" /><div></div>
	</div>
	<div fxFlex='30' fxLayout="row" fxLayoutAlign="space-between center">
		<md-slide-toggle></md-slide-toggle> <img src="./assets/img/security-voice-record-icon.png" /><div></div>
	</div>
	<div fxFlex='30' fxLayout="column">
		<div fxLayout="row" fxLayoutAlign="start center">
			<md-slide-toggle></md-slide-toggle><h1>Enter 6 Digit PIN</h1>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between stretch">
			<md-input *ngFor="let pinDigit of PIN"
				type="password"
				[(ngModel)]="PIN[pinDigit]"
				[maxlength]="1"
				class="PIN"
				fxFlex="10"
        		(keyup)="test($event)"
			></md-input>
		</div>
	</div>
</div>
