<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutAlign="center center" class="warn">
		<app-menu></app-menu>
		<h2>Setup Account Security</h2>
	</div>
	<div fxFlex='30' fxLayout="row">
		<md-slide-toggle><img src="./img/security-finger-scan-icon.png" /></md-slide-toggle>
	</div>
	<div fxFlex='30' fxLayout="row">
		<md-slide-toggle><img src="./img/security-voice-record-icon.png" /></md-slide-toggle>
	</div>
	<div fxFlex='30' fxLayout="column">
		<div fxLayout="row">
			<md-slide-toggle><h4>Enter 6 Digit PIN</h4></md-slide-toggle>
		</div>
		<div fxLayout="row" >
			
		</div>
	</div>
</div>