:host {
	position: absolute;

	height : 100%;
	width  : 100%;

	background-image: url(./assets/img/blur-image-bg-02.png);
	background-position: center center;
	background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;

    app-menu {
    	left: 5%;
    	position: absolute;
	}

	.previewContainer {
		position: absolute;

		button {
			background: rgba(0,0,0,0.1);

			img {
				height : 100%;
				width  : 100%;
			}
		}
	}

	.warn {
		background: red;
	}

	> div > div {
    	padding: 5%;
	}

	.PIN {
	    border: 1px solid white;
	    border-radius: 3px;
	    width: 30px;
	    height: 30Px;
	    background: gray;
    }

}
:host /deep/ .md-input-wrapper {
  margin:6px 0;
  input {
    text-align: center;
  }
}
