:host {
	position: absolute;

	height : 100%;
	width  : 100%;
  overflow:hidden;

	background-image: url(./assets/img/blur-image-bg-01.png);
	background-position: center center;
	background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;

	> div > div {
    	padding: 5%;
	}

	button {
		background: rgba(0,0,0,0.1);

		img {
			height : 100%;
			width  : 100%;
		}
	}

	img.gear {
   		transform: rotate(-90deg);
   		-webkit-transform: rotate(-90deg);
   		-ms-transform: rotate(-90deg);

		position: absolute;
    	width: 100%;
    	bottom: -5%;
    	right: -65%;
	}

	.small {
		font-size: 12px;
	}

	.big {
		font-size: 24px;
	}

	.yellow {
		color : yellow;
	}
}
