<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutAlign="center center" class="header">
		<app-menu></app-menu>
		<h2>Sync Video Camera</h2>
	</div>
	<div fxFlex='35' fxLayout="row" fxLayoutAlign="space-between center" class="settings">
		<div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
			<button md-fab><img [src]="'./assets/img/' + settings.video.img" /></button>
			<md-slide-toggle color="primary" [(ngModel)]='settings.video.active' (change)='updateVideo()'></md-slide-toggle>
		</div>
		<div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
			<button md-fab><img [src]="'./assets/img/' + settings.sound.img" /></button>
			<md-slide-toggle color="primary" [(ngModel)]='settings.sound.active' (change)='updateSound()'></md-slide-toggle>
		</div>
	</div>
	<div fxFlex='35' fxLayout="row" fxLayoutAlign="space-between center" class="settings">
		<div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
			<button md-fab><img [src]="'./assets/img/' + settings.blueTooth.img" /></button>
			<md-slide-toggle color="primary" [(ngModel)]='settings.blueTooth.active' (change)='updateBlueTooth()'></md-slide-toggle>
		</div>
		<div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
			<button md-fab><img src="./assets/img/camera-battery-life.png" /></button>
		</div>
	</div>
	<div fxFlex fxLayout="row" fxLayoutAlign="space-between end" class="addCamera">
		<button md-raised-button routerLink="/profile-setup">Back</button> 
		<button md-raised-button>Add Camera</button> 
	</div>
</div>
