<div fxFlex="90" fxFlexOffset="5" fxLayout="column" fxLayoutAlign="space-between stretch">
	<img src="./img/botic-app-logo.png" />
	
	<form fxLayout="column" fxLayoutAlign="space-between none">
      <md-input #username
                required
                type="text"
                name="username"
                placeholder="Username"
                [(ngModel)]="user.name">
            <span md-prefix><md-icon>person</md-icon></span>
      </md-input>
      <md-input #password
                required
                type="password"
                name="password"
                placeholder="Password"
                [(ngModel)]="user.password">
            <span md-prefix><md-icon>lock</md-icon></span>
      </md-input>
      <button type="submit" md-raised-button (click)="login()">Login</button>
  </form>
  
  <div fxLayout="row" fxLayoutAlign="center"><h4>**** or sign-up using ****</h4></div>
  <div fxLayout="row" fxLayoutAlign="center"><h1>Email Address</h1></div>
  
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <button fxFlex="50" md-icon-button><img fxFlex="95" src="./img/fb-signup.png" /></button>
      <button fxFlex="50" md-icon-button><img fxFlex="95" src="./img/gmail-signup.png" /></button>
  </div>
</div>