:host {
	position: absolute;

	height : 100%;
	width  : 100%;

	background-image: url(./img/blur-image-bg-01.png);
	background-position: center center;
	background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
}

:host .logo {
  text-align: center;
}
:host .logo > img {
  width : auto;
  max-width: 410px;
}

:host form {
	background:rgba(0,0,0,0.5);
	box-shadow: 0 0 2px 2px white;
	border-radius: 10px;
}

:host form > div {
  margin : 5px;
}

:host form md-icon {
  margin : 10px;
}

:host button.submit {
	border-radius: 0 0 9px 9px;
}
