<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutAlign="space-between center" class="shaded" >
		<app-menu></app-menu>
		<button md-raised-button routerLink="/profile-view" class="md-accent">Publish</button>
	</div>
	<div fxFlex fxLayoutAlign="end end">
		<iframe fxFill [src]="url" frameborder="0" allowfullscreen></iframe>
		<div fxLayout="column" fxLayoutAlign="center center" class="previewContainer">
			<button md-mini-fab><img src="./assets/img/camera-not-selected.png" /></button>
			<div>Preview</div>
		</div>
	</div>
	<form fxFlex="nogrow" fxLayout="column" fxLayoutAlign="space-between center" class="shaded">
		<md-input type="text" name="eventname" placeholder="Event Name" [(ngModel)]="event.name">
			<span md-prefix><md-icon class="md-accent">check_circle</md-icon></span>
		</md-input>
		<div fxLayout="row" fxLayoutAlign="space-between stretch">
			<md-input type="text" name="eventdate" placeholder="Event Date" [(ngModel)]="event.date">
				<span md-prefix><md-icon class="md-accent">check_circle</md-icon></span>
			</md-input>
			<div fxFlex="5"></div>
			<md-input type="text" name="eventtime" placeholder="Event Time (CST)" [(ngModel)]="event.time">
				<span md-prefix><md-icon class="md-accent">check_circle</md-icon></span>
			</md-input>
		</div>
		<md-input #eventCost type="text" name="eventcost" placeholder="Cost" [(ngModel)]="event.cost">
			<span md-prefix><md-icon class="md-accent">check_circle</md-icon> $</span>
		</md-input>
		<md-button-toggle-group #group="mdButtonToggleGroup" fxFill fxLayout="row" fxLayoutAlign="space-around center">
		    <md-button-toggle value="G" >G</md-button-toggle>
		    <md-button-toggle value="PG" >PG</md-button-toggle>
		    <md-button-toggle value="PG-13" >PG-13</md-button-toggle>
		    <md-button-toggle value="R" >R</md-button-toggle>
		</md-button-toggle-group>
	</form>
</div>
