<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row">
		<div fxFlex="33"><app-menu></app-menu></div>
	</div>
	<div fxFlex="40" fxLayout="row" fxLayoutAlign="center end">
		<img class="profileImg" src="./assets/img/mark-turner-profile-pic.png" />
		<button md-fab class="changeProfileImg"><img src="./assets/img/camera-upload-icon.png" /></button>
	</div>
	<div fxLayoutAlign="center">Upload profile picture or video</div>
	<h2 fxLayoutAlign="center">- Add Cameras -</h2>
	<div fxFlex fxLayout="row" fxLayoutAlign="start end">
		<div *ngFor="let cam of cams; let i = index" fxFlex="33" fxLayout="column" fxLayoutAlign="space-between center">
			<button md-fab routerLink="/sync"><img class="cam" [src]="'./assets/img/' + cam.img" /></button>
			<div>View Point {{i + 1}}</div>
			<md-slide-toggle color="primary" [(ngModel)]='cam.active' (change)='updateCam(cam)' ></md-slide-toggle>
		</div>
	</div>
</div>
