<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxFlex="20" fxLayout="row">
		<div fxFlex="33"><button md-mini-fab><img src="./img/menu-icon.png" /></button></div>
		<div fxFlex="33"><button md-fab><img src="./img/mark-turner-profile-pic.png" /></button></div>
		<div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
			<div class="md-display-1">1.2M</div>
			<div>followers</div>
		</div>
	</div>
	<div fxFlex="20" fxLayout="row">
		<div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
			<div>234</div>
			<div>POSTS</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<md-icon>create</md-icon>
				<span>TALK</span>
			</div>
		</div>
		<div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
			<div>234</div>
			<div>LIVE EVENTS</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<md-icon>wifi_tethering</md-icon>
				<span>START</span>
			</div>
		</div>
		<div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
			<div>234</div>
			<div>VIDEOS</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<md-icon>play_circle_outline</md-icon>
				<span>REC</span>
			</div>
		</div>
	</div>
	<div fxFlex>
		test
	</div>
</div>

<img class="gear" src="./img/wheel-politics.png" />