<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxLayout="row" fxLayoutAlign="center center" (click)="invite()">
			<img src="./assets/img/invite-icon.png" />
			<div class='xsmall'>INVITE</div>
		</div>
		<div fxFlex="50" class='shaded roundCorners' fxLayoutAlign="center center"><div>- 00:30:59</div></div>
		<div fxLayout="row" fxLayoutAlign="center center">
			<div class='dot'></div>
			<div class='small'>LIVE</div>
		</div>
	</div>
	<div fxFlex="5" fxLayout="row" fxLayoutAlign="center center"> <div class="rating">PG-13</div></div>
	<iframe fxFlex [src]="url" frameborder="0" allowfullscreen></iframe>
	<div fxFlex="nogrow" fxLayout="column">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom:10px;">
			<md-icon routerLink="/profile">exit_to_app</md-icon>
      <button md-button color="primary" routerLink="/donate">Donate</button>
			<div fxFlex="33" fxLayout="row" fxLayoutAlign="space-between stretch">
				<div>
					<img class="thumbs" src="./assets/img/thumbs-up-selected.png" />
					<span class='small'>8k</span>
				</div>
				<div>
					<img class="thumbs" src="./assets/img/thumbs-down-selected.png" />
					<span class='small'>0</span>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<div fxLayout="row">
			<div *ngFor="let feed of feeds" fxLayout="column" fxLayoutAlign="center center" fxFlex="33" (click)="selectVideo(feed.id)">
				<button md-fab [ngStyle]="{background: 'url(./assets/img/' + feed.tumbnail + ')'}">
					<img src="./assets/img/camera-not-selected.png" />
				</button>
				<div class='small' >{{feed.name}}</div>
			</div>
		</div>
	</div>
</div>
