<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutAlign="center center" class="header">
		<app-menu></app-menu>
		<h2>Event Summary</h2>
	</div>
	<hr/>
	<div>Behind the senses with Mark Turner</div>
	<div>Nov 1, 2016 6:33 - 7:15pm</div>
	<img src="./assets/img/likes-icon-lg.png" />
	<div>12,646,498</div>
	<div>Total Recurring Donations</div>
	<div fxLayout="row"  fxLayoutAlign="center center">
		<h1>$4,000</h1>
		<img src="">
	</div>
	<div>Total You Made</div>
	<div fxLayout="row"  fxLayoutAlign="center center">
		<h1>$35,000.00</h1>
	</div>
</div>